[submodule "ledify/src/rpi_ws281x"]
	path = ledify/src/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
[submodule "ledify/src/wiringPi"]
	path = ledify/src/wiringPi
	url = https://github.com/WiringPi/WiringPi
[submodule "ledify/src/qhttp"]
	path = ledify/src/qhttp
	url = https://github.com/azadkuh/qhttp.git
[submodule "ledify/src/Dusk2Dawn"]
	path = ledify/src/Dusk2Dawn
	url = https://github.com/dmkishi/Dusk2Dawn.git
[submodule "ledify/src/3rdParty/sanitizers-cmake"]
	path = ledify/src/3rdParty/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
